<div #viewPortContainer class="container">
  <video #videoContainer width="560" controls>
      <source [src]="playVideo" type="video/mp4">
  </video>
  <audio #audioContainer controls>
    <source [src]="playingURL" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <div class="img-loaded" transformType2="uppercase" transformType="lowercase" appTextTransform2 appTextTransform
    appHighlight highlightColor="red">Total Image: {{loadedImg()}}</div>
  <div #imgContainer class="img-container" *ngFor="let item of IMGLIST">
    <img *ngIf="item.visible" [src]="item.url">
  </div>
  <div #loadMore class="loading">Loading</div>
</div>
