<div>
  <input #imageInput type="file" (change)="checkImage($event)">
</div>
<form name="frm" id="frm" [formGroup]="frm" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
  <div fxLayout="column" fxFlex="25">
    <mat-form-field>
      <input matInput type="number" formControlName="red" placeholder="Red">
    </mat-form-field>
    <mat-slider formControlName="red" class="mat-slider" min="-255" max="255" step="0.1"></mat-slider>
  </div>
  <div fxLayout="column" fxFlex="25">
    <mat-form-field>
      <input matInput type="number" formControlName="green" placeholder="Green">
    </mat-form-field>
    <mat-slider formControlName="green" class="mat-slider" min="-255" max="255" step="0.1"></mat-slider>
  </div>
  <div fxLayout="column" fxFlex="25">
    <mat-form-field>
      <input matInput type="number" formControlName="blue" placeholder="Blue">
    </mat-form-field>
    <mat-slider formControlName="blue" class="mat-slider" min="-255" max="255" step="0.1"></mat-slider>
  </div>
  <div fxLayout="column" fxFlex="25">
    <mat-form-field>
      <input matInput type="number" formControlName="alpha" placeholder="Alpha">
    </mat-form-field>
    <mat-slider formControlName="alpha" class="mat-slider" min="-255" max="255" step="0.1"></mat-slider>
  </div>
</form>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
  <div fxFlex="50" class="image-container">
    <h1>RAW</h1>
    <canvas #canvas></canvas>
  </div>
  <div fxFlex="50" class="image-container">
    <h1>CONVERTED</h1>
    <canvas #canvas2></canvas>
  </div>
</div>
